

.blog-header {
    background: #DCEAF5;
}
.header {
    display: flex;
}
.header-text {
    width:  559px;
    height: 427px;;
}
.header-member {
    display: flex;
    margin-top: 161px;
}
.header-member p {
    margin-left: 8px;
    margin-right: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #394149;
    opacity: 0.87;
}
.internal h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-top:24px ;
    margin-bottom: 24px;
}
.internal p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B; 
    margin-bottom: 24px;
}
.internal a {
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin-bottom: 161px;
}
.internal a::after {
    
    content: "\2192";
    
}
.header-image {
    margin-top: 128px;
    margin-bottom: 128px;
    margin-left: 0px;
    border-radius: 20px;
}




/* section 8 */
.section-8{
     
    
}
#main8 {
    margin-top:128px;
    }

#b8 {
    display: flex;
    flex-direction: row;
   
    margin:64px 40px 40px 0px;
    
}
#b9 {
    display: flex;
    flex-direction: row;
    margin-bottom: 128px;
}
    

.c8 {
    width: 400px;
    height: 507px;
    margin: 40px;
}
.huree{
    background: url(image.png);
    border-radius: 20px 20px 0px 0px;
}

.c8  h3 {
    font-size: 24px;
    margin: 32px;
    padding-top: 25px;
}
.c8 p{
    color: #5B5B5B;
    font-size: 16px;
    color: #5b5b5b;
    margin: 24px 32px;
}
.c8  a {
    color: #f58a07;
    margin-left: 32px;
    margin-bottom: 32px;
}
.c8   a::after{
    content: "\2192";
}
.c8  .text {
    background: #EDF7FF;
    margin-top: -40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 360px; 
}



/* footer  section */


footer {
    background-color: #063255;
    position: relative;
}
.footer {
    width: 100%;
}
#footer-top {
    max-width: 1280px;
    margin: 0px auto;
    padding-top: 80px;
    display: flex;
    margin-bottom: 80px;

}
#footer-left {
    width: 33.3%;
}
#footer-left h1 {
    color: white;
    font-size: 36px;
    margin: 32px 0px;
}
#footer-mid {
    display: flex;
    justify-content: space-between;
    width: 33.3%;
    margin-left: 110px;
}
#footer-mid h4{
    font-size: 18px;
    color: white;
    margin-bottom: 24px;
}
#footer-mid li{
    color: white;
    list-style: none ;
    margin: 16px 0px;
}
#footer-mid #mid-b {
    margin-left: 106px;
}
#footer-right {
    display: flex;
    flex-direction: column;
    margin-left: 137px;
}
#footer-right h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 24px;
}
input {
    border-radius: 31px;
    padding: 20px 32px;
    font-size: 18px;
    margin-bottom: 16px;
    Width:342px;
    Height:54px;
}
button {
    border-radius: 30px;
    padding: 17px 32px;
    width: 156px;
    background-color: #f58a07;
    color: white;
    font-size: 18px;
}
#social-logos img {
    margin-right: 20px;
}
#footer-bottom {
    max-width: 1280px;
    display: flex;
    margin: 0px auto;
    justify-content:space-between ;
    padding-bottom: 80px;
}
span {
    color: white;
}
#bott-b {
    display: flex;
}
#bott-b ul {
    display: flex;
    list-style: none;
}
#bott-b ul li{
    margin-right: 32px;
}
#bott-b a {
    color: white;
}
#foot1{
    width: 53px;
    height: 144px;
    background-color: #f58a07;
    position: absolute;
    bottom: 0px;
    border-top-right-radius: 20px;
}
#foot2 {
    width: 53px;
    height: 287px;
    background-color: #f58a07;
    position: absolute;
    right: 0px;
    top: 38px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
