*{
    box-sizing: border-box;
}

body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    font-size: 1rem;
}

 ul,li {
    list-style-type: none;
    margin: o;
    padding: 0;

 }
 h1,h2,h3,h4,h5,h6,p{
   margin: 0;
 }
 a {
    text-decoration: none;
    color: inherit;
 }

 .container {
    width: 1280px;
    margin: 0 auto;
 }
 .navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.navigation ul{
   display: flex;
   gap: 32px;
   align-items: center;
}
.navigation ul li a{
   cursor: pointer;
   
}
.flex {
   flex: 1;
}
.showcase-text ul {
   display: flex;
   align-items: center
}
.showcase-text ul li{
   margin-right:40px;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   margin-top: 32px;
}
.navigation ul li button{
    width: 173px;
    height: 52px;
    margin-top: 0px;
    font-size: 16px;
    color: #F58A07;
    background: rgba(245,138,7,0.1);
    border-radius: 31px;
    text-align: center;
    border: none;
    cursor: pointer;
}
 
 /* footer  section */


 footer {
   background-color: #063255;
   position: relative;
}
.footer {
   width: 100%;
}
#footer-top {
   max-width: 1280px;
   margin: 0px auto;
   padding-top: 80px;
   display: flex;
   margin-bottom: 80px;

}
#footer-left {
   width: 33.3%;
}
#footer-left h1 {
   color: white;
   font-size: 36px;
   margin: 32px 0px;
}
#footer-mid {
   display: flex;
   justify-content: space-between;
   width: 33.3%;
   margin-left: 110px;
}
#footer-mid h4{
   font-size: 18px;
   color: white;
   margin-bottom: 24px;
}
#footer-mid li{
   color: white;
   list-style: none ;
   margin: 16px 0px;
}
#mid-a h4:hover {
   color: #3ca82b;
}
#mid-a ul li:hover {
   color:#114034;
}
#mid-b h4:hover {
   color: #3ca82b;
}
#mid-b ul li:hover {
   color:#114034;
}
#footer-mid #mid-b {
   margin-left: 106px;
}
#footer-right {
   display: flex;
   flex-direction: column;
   margin-left: 137px;
}
#footer-right h4 {
   font-size: 18px;
   color: white;
   margin-bottom: 24px;
}
#footer-right button {

}
input {
   border-radius: 31px;
   padding: 20px 32px;
   font-size: 18px;
   margin-bottom: 16px;
   Width:342px;
   Height:54px;
}
button {
   border-radius: 30px;
   padding: 17px 32px;
   width: 156px;
   background-color: #f58a07;
   color: white;
   font-size: 18px;
}
#social-logos img {
   margin-right: 20px;
}
#footer-bottom {
   max-width: 1280px;
   display: flex;
   margin: 0px auto;
   justify-content:space-between ;
   padding-bottom: 80px;
}
span {
   color: white;
}
#bott-b {
   display: flex;
}
#bott-b ul {
   display: flex;
   list-style: none;
}
#bott-b ul li{
   margin-right: 32px;
}
#bott-b a {
   color: white;
}
#foot1{
   width: 53px;
   height: 144px;
   background-color: #f58a07;
   position: absolute;
   bottom: 0px;
   border-top-right-radius: 20px;
}
#foot2 {
   width: 53px;
   height: 287px;
   background-color: #f58a07;
   position: absolute;
   right: 0px;
   top: 38px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}