.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navigation ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.navigation ul li a{
    cursor: pointer;
    
}
.flex {
    flex: 1;
}
.showcase-text ul {
    display: flex;
    align-items: center
}
.showcase-text ul li{
    margin-right:40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
 }
 .navigation ul li button{
     width: 173px;
     height: 52px;
     margin-top: 0px;
     font-size: 16px;
     color: #F58A07;
     background: rgba(245,138,7,0.1);
     border-radius: 31px;
     text-align: center;
     border: none;
     cursor: pointer;
}
.showcase-wrapper {
    background-color: #DCEAF5;
    margin-bottom: 83px;
}
.showcase{
    padding-top: 117px;
    padding-bottom: 147px;
    position: relative;
}
.showcase>img{
    position: absolute;
    right: -40px;
    bottom: 0;

}
.showcase-text {
    width: 580px;
}
.showcase-text h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
letter-spacing: -0.03em;
margin-bottom: 12px;


color: #1D3444;
}
.showcase-text p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
margin-top: 12px;
}
.showcase-text ul li a {
    background: #F58A07;
    color: #fff;
    display: inline-block;
    border-radius: 27px;
    padding: 18px 32px 19px 32px;
}
.primary-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(57, 65, 73, 0.99);
}
.primary-img {
    margin-top: 27px;
}
.baruun {
    position: relative;
}
.baruun img {
    display: flex;
    align-items: flex-end;
}
.items {
    margin: 0;
    padding: 0;
}
.item-cards{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 96px;
}

.item-text h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;  
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-bottom: 27px;
}

.item-text p{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 64px;
}
.card {
    margin: 20px 20px;
}
.card-img {
    margin-bottom: 33px;
}
.card h3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 106.5%;
letter-spacing: -0.03em;
color: #0D1317;
margin-bottom: 17px;
}
.card p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #5B5B5B;
margin-bottom: 24px;
}
.card a {
    color:#F58A07;
}
.card a::after{
    content: "\2192";
}
/* feaures section */
.feaures {
    padding: 96px;
    background: #EDF7FF;
}
.feaures-header{
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.feaures-head {
    width: 60%;
    margin-right:30px;
    margin-bottom: 64px;
}
.feaures-head h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: -0.03em;
color: #0D1317;
}
.feaures-head p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: -0.03em;
color: #0D1317;
}
.feaures-paragraph {
    width: 60%;
}
.features {
    display: flex;
}
.feature1 {
    margin: 20px 15px;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 20px;

}
.feaures1> img:hover {
    color: aqua;
}

/* section fourth */

.main-content {
    display: flex;
}
.a-content {
    margin-top: 167px;
    margin-right: 47px;
}
.a-content h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-bottom: 32px;
}
.a-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 48px;
}
.b-content {
    display: flex;
}
.b1-content {
    margin-right: 26px;
}
.b2-content {
    margin-right: 47px;
}
.b1-content h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
    margin-bottom: 16px;
}
.b2-content h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
    margin-bottom: 16px;
}
.b1-content h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-bottom: 16px;
}
.b2-content h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-bottom: 16px;
}
.b1-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 16px;
    margin-bottom: 147px;
}
.b2-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 147px;
}

.c-content {
    margin-top: 130px;
    border-radius: 20px;
    
}



/* #abc {
    background-image: url(/images/about-image.png);
    border-radius: 20px;
    width: 640px;
    height: 670px;
    position: absolute;
}
#blended {
    position: absolute;
    background: #F58A07;
    width: 153px;
    height: 670px;
    mix-blend-mode: multiply;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  
} */




/* fifth section */

#fifth {
    width: 1280px;
    margin: 0px auto;
    background-color: #edf7ff;
    border-radius: 20px;
}
#fifth-main {
    padding: 0px 48px;
}
#fifth nav {
    display: flex;
    justify-content: space-between;
}
#fifth nav>img {
    position: absolute;
    width: 179px;
    height: 178px;
    left: 1200px;
    top: 3306px;
}
#fifth nav ul{    
    display: flex;
    list-style: none;
    margin: 56px 20px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}
.listitem {
    border: #a8bccc solid 1px;
    border-radius: 30px;
    padding: 8px 24px;
    margin-right: 24px;
}
#listitem {
    background-color: white;
    border-radius: 30px;
    padding: 8px 24px;
    margin-right: 24px;
    color: #f58a07;
}
#listitem ul li a:hover {
    background-color: rgb(174, 21, 161);
}
#Bussi {
    color: #F58A07;
}
#content5 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 54px;
} 
#text5 h1 {
    font-size: 48px;
    padding-bottom: 25px;
}
#pa {
    margin-bottom: 30px;
}
#text5 p {
    margin-bottom: 40px;
}
#text5 a{
    color: #f58a07;
}
#text5 a::after{
    content: "\2192";
}
#blended-image {
    position: relative;
    width: 472px;
    height: 466px;
    margin-left: 200px;
    margin-bottom: 48px;
}
#img-1 {
    position: absolute;
    background-image: url(images/team.png);
    width: 472px;
    height: 466px;
}
#img-shape {
    position: absolute;
    width: 120px;
    height: 466px;
    border-radius: 20px 0px 0px 20px;
    background: #f58a07;
    mix-blend-mode: multiply;
}


/* sixth section */






#sixth {
    margin-top: 128px;
    /* display: flex; */
}
#sixth-main {
    max-width: 1920px;
    display: flex;
    margin: 0px auto;
}
#a6 {
    background: url(images/experience-image.png)  no-repeat;
}
#b6 {
    background-color:  rgba(245, 138, 7, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 120px;
    height: 518px;
    width: 50%;
}
#b6 h1 {
    color: white;
    font-size: 48px;
}
#b6 a {
    color: #F58A07;
    border-radius: 30px;
    background-color: white;
    margin-top: 40px;
    padding: 20px 32px;
}





/* seventh section  */









#seventh {
    display: flex;
    max-width: 1280px;
    margin: 128px auto;
}
#a7 h1 {
    font-size: 48px;
    margin-top: 78px;
    color: #0D1317;
    font-weight: 600;
    padding-right: 110px;
}
#a7 p {
    font-size: 18px;
    margin-top: 24px;
    color: #5B5B5B;
    padding-right: 110px;
}
#profile {
    display: flex;
    margin-top: 40px;
    align-items: center;
}
#name {
    margin-left: 24px;
}
#name h2 {
    font-size: 24px;
    font-weight: 500;
}
#name h3 {
    font-size: 18px;
    color: #f58a07;
    font-weight: 500;
}
#b7 {
    position: relative;
}
#video {
    position: relative;
    background-image: url(/images/video-image.png);
    width: 620px;
    height: 501px;
}
#button img{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 17px;
    width: 51px;
    height: 51px;
    bottom: 40px;
    left: 40px;
}
#button>img:hover {
    background-color: #1D3444;
    opacity: 0.8;

}

#button h4 {
    font-size: 18px;
    position: absolute;
    color: white;
    bottom: 57px;
    left: 108px;
}
#button h4:hover {
    color:#f58a07;
}

.section-8{
    width: 100%;
    background-color: #DCEAF5;
}

#main8 {
    max-width: 1280px;
    margin: 0px auto;
}
#a8 {
    font-size: 48px;
    color: black;
    padding-top: 96px;
}
#b8 {
    margin-top: 64px;
    justify-content: space-between;
    display: flex;
    padding-bottom: 96px;
}
#b8 > div {
    margin-right: 26px;
}
.huree{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#b8 h3 {
    font-size: 24px;
    margin: 32px;
    padding-top: 25px;
}
#b8 p{
    color: #5B5B5B;
    font-size: 16px;
    color: #5b5b5b;
    margin: 24px 32px;
}
#b8 a {
    color: #f58a07;
    margin-left: 32px;
    margin-bottom: 32px;
}
#b8 a::after{
    content: "\2192";
}
#b8 .text {
    background-color: white;
    margin-top: -40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 360px;
}

/* footer  section */




footer {
    background-color: #063255;
    position: relative;
}
.footer {
    width: 100%;
}
#footer-top {
    max-width: 1280px;
    margin: 0px auto;
    padding-top: 80px;
    display: flex;
    margin-bottom: 80px;

}
#footer-left {
    width: 33.3%;
}
#footer-left h1 {
    color: white;
    font-size: 36px;
    margin: 32px 0px;
}
#footer-mid {
    display: flex;
    justify-content: space-between;
    width: 33.3%;
    margin-left: 110px;
}
#footer-mid h4{
    font-size: 18px;
    color: white;
    margin-bottom: 24px;
}
#footer-mid li{
    color: white;
    list-style: none ;
    margin: 16px 0px;
}
#mid-a h4:hover {
    color: #3ca82b;
}
#mid-a ul li:hover {
    color:#114034;
}
#mid-b h4:hover {
    color: #3ca82b;
}
#mid-b ul li:hover {
    color:#114034;
}
#footer-mid #mid-b {
    margin-left: 106px;
}
#footer-right {
    display: flex;
    flex-direction: column;
    margin-left: 137px;
}
#footer-right h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 24px;
}
#footer-right button {

}
input {
    border-radius: 31px;
    padding: 20px 32px;
    font-size: 18px;
    margin-bottom: 16px;
    Width:342px;
    Height:54px;
}
button {
    border-radius: 30px;
    padding: 17px 32px;
    width: 156px;
    background-color: #f58a07;
    color: white;
    font-size: 18px;
}
#social-logos img {
    margin-right: 20px;
}
#footer-bottom {
    max-width: 1280px;
    display: flex;
    margin: 0px auto;
    justify-content:space-between ;
    padding-bottom: 80px;
}
span {
    color: white;
}
#bott-b {
    display: flex;
}
#bott-b ul {
    display: flex;
    list-style: none;
}
#bott-b ul li{
    margin-right: 32px;
}
#bott-b a {
    color: white;
}
#foot1{
    width: 53px;
    height: 144px;
    background-color: #f58a07;
    position: absolute;
    bottom: 0px;
    border-top-right-radius: 20px;
}
#foot2 {
    width: 53px;
    height: 287px;
    background-color: #f58a07;
    position: absolute;
    right: 0px;
    top: 38px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



